*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    width: 97% !important;
    margin: 25px auto !important;
    border-radius: 30px;
    background-color: #FAFAFA;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.nav-btn{
    border: 1px solid #BEBEBE;
    border-radius: 20px;
    background-color: white;
    padding: 7px 19px;
}
.navbar-nav{
    background-color: white !important;
    border-radius: 23px;
}
.search{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.776);
}
@media (max-width: 990px) {
    form{
        justify-content: center;
    }
    .search{
        display: none !important;
    }
    .navbar-collapse{
        margin-top: 10px;
    }
    .navbar-nav, .navbar{
        border-radius: 0px;
    }
}

/* main1 */
.main{
    display: flex;
    /* border: 2px solid black; */
    height: 490px;
    width: 97%;
    margin: 20px auto;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #C1DEE8, #FBD9B9);
}
@media (max-width: 1250px) {
    .main{
        height: auto;
    }
}
.main1{
    padding: 45px 30px;
}
.main1-input{
    border-radius: 23px;
    border: none;
    padding: 11px 60px 11px 12px;
    font-size: 14px;
    /* width: 40%; */
}
.btn2{
    border-radius: 23px;
    border: none;
    padding: 11px 29px 11px 17px;
    font-size: 14px;
    font-weight: 500;
    background-color: black;
    color: white;
    margin-left: -45px;
    box-shadow: 0px 0px 10px black;
}
.main1-h1{
    font-size: 49px;
}
.main1-span, .main1-para{
    font-size: 15px;
}
.img1{
    width: 100%;
}
.btn2:hover{
    background-color: black;
    color: white;
}
@media (max-width: 700px) {
    .main{
        display: flex;
        flex-direction: column;
    }    
    .main1-input{
        display: block;
        margin-bottom: 18px;
        width: 100%;
        text-align: center;
    }
    .btn2{
        margin: auto;
        width: -webkit-fill-available
    }
}
@media (min-width: 700px) and (max-width: 800px) {
    .main1-input{
        padding: 11px;
    }
}
/* sec */
.sec{
    /* border: 2px solid black; */
    width: 100%;
    margin: 60px auto;
}
.sec1-h2, .main5-h2, .sec5-h2{
    font-size: 35px;
}
.sec5-h2{
    overflow-y: hidden;
}
.sec-2{
    margin: 0px auto;
}
.box1{
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 0px 12px;
    /* border: 2px solid black; */
}
.fa-message{
    color: #58BF52;
    font-size: 38px;
}
.fa-envelope{
    color: #FF791A;
    font-size: 38px;
}
.sec2-para{
    font-weight: 500;
}
.material-symbols-outlined{
    color: #3741B5;
    font-size: 34px !important;
}
.main-5, .sec-5{
    padding: 0 35px !important;
    margin: 60px auto;
    width: 100%;
}
.card1 > img{
    height: 250px;
    width: auto;
    object-fit: contain;
}
@media (max-width: 576px) {
    .sec-4{
        gap: 15px;
    }
    .navbar{
        background: radial-gradient(#cbbfbf, transparent);;
    }
}

.sec-6{
    /* border: 2px solid; */
    width: auto;
}
.head{
    margin: 25px 0;
}
.card2, .card3{
    height: 450px;
    /* border: 2px solid; */
}
.card2{
    text-align: center;
}
@media (max-width: 576px) {
    .card3{
        height: auto !important;
    }
    .img4{
        /* height: none !important; */
    }
}
.sec6-span{
    font-size: 30px;
}
.sec6-para{
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin: 30px 0;
    text-align: justify;
}
.button{
    display: flex;
    justify-content: center;
}
.btn3{
    border: 1px solid black;
    border-radius: 30px;
    padding: 7px 20px;
    margin: 0 7px;
}
.bt{
    border-color: #BEBEBE;
}
.review{
    margin: 13px 0px;
    display: inline-flex;
}
.r1{
    padding: 0 20px;
}
.r1-para{
    font-weight: 500;
}
.img4{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
@media (max-width: 776px) {
    
    .sec5-h2{
        font-size: 21px;
    }
    .sec6-span{
        font-size: 20px;
    }
    .card2{
        padding: 0;
        height: auto !important;
    }
    .head{
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .sec-5{
        /* margin: 0; */
    }
}

/* footer */
.foot{
    margin: 0px 25px !important;
    margin-bottom: 19px;
    background-image: linear-gradient(90deg, #C1DEE8, #FBD9B9);
    border-radius: 10px;
    /* height: 370px; */
    padding-bottom: 0px !important;
}
.foot-para{
    font-weight: 500 ;
}
.foot-input{
    padding: 13px 80px 13px 18px;
}
.img5{
    object-fit: contain;
    width: 100%;
}
@media (max-width: 776px) {
    .img5{
        height: auto;
    }
}

@media (max-width: 1050px) {
    .foot{
        /* height: 100%; */
    }  
}
@media (min-width: 800px) and (max-width: 845px) {
    .foot-input{
        padding: 13px 41px 13px 11px;
    }
}